<div style="position: relative; display: inline-block; margin: 40px; border-radius: 15px; overflow: hidden; font-family: 'Kosugi Maru', sans-serif; border: 4px solid; border-color: #b1cdbb;">
  <img src="<%= asset_path('walk_and.jpg') %>" alt="Walk Top" style="width: 100%; height: auto;">
  <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); display: flex; flex-direction: column; align-items: center; justify-content: center; color: white; text-align: center;">
    <h1 style="font-size: 4em; font-weight: bold; margin: 0; letter-spacing: 2px;">Walk&</h1>
    <h2 style="font-size: 2em; margin: 0;">可愛いを<span class="text-background-blue">共有</span><br>
      毎日を<span class="text-background-blue">記録</span>へ</h2>
    <p style=" margin-top: 10px; max-width: 50%; width: auto; letter-spacing: 1px;">
      Walk&は、ワンちゃんやお気に入りの場所を投稿したり、
      毎日のお散歩を記録するアプリです。
    </p>
  </div>
</div>

<div class="bg-background-blue text-logo-brown" style="padding: 10px; margin-bottom: 10px; align-items: center; text-align: center; font-size: 1.5em; font-weight: bold;">
  <h2>Walk&の使い方</h2>
</div>

<div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5rem; margin: 0 0.75rem;">

  <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <img src="<%= asset_path('login.jpg') %>" alt="Login Example" style="width: 100%; max-height: 400px; width: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
    <h3 style="font-size: 1.125rem; font-weight: bold; color: var(--primary);">ログイン</h3>
    <p style="text-align: center;">ログインページの例です。この画面でメールアドレスとパスワードを入力してください。</p>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem; padding: 1rem; margin-bottom: 10px; border: 1px solid; border-color: #b1cdbb; border-radius: 0.75rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); background-color: white;">
    <img src="<%= asset_path('login.jpg') %>" alt="Login Example" style="width: 100%; max-height: 400px; width: auto; border-radius: 10px; border: 3px solid; border-color: #c19a88;">
    <h3 style="font-size: 1.125rem; font-weight: bold; color: var(--primary);">ログイン</h3>
    <p style="text-align: center;">ログインページの例です。この画面でメールアドレスとパスワードを入力してください。</p>
  </div>

  <!-- 他の説明カードをここに追加できます -->

</div>