<div id="calendar" data-controller="calendar"></div>

<button id="add-event-button" class="bg-blue-500 text-white py-2 px-4 rounded">Add Event</button>

<%= javascript_include_tag "application", "data-turbo-track": "reload" %>