<% content_for :title, t('events.index.title') %>
<div id="calendar" data-controller="calendar"></div>

<style>
  .fc-event {
    background-color: transparent !important;
    border: none !important;
    text-align: center;
    line-height: 1;
    font-size: 1.75rem;
    margin: 0;
  }
</style>