<h1 class="text-center text-2xl font-bold">投稿一覧</h1>
<div class="space-y-4 mt-4">
  <% @posts.each do |post| %>
  <div class="p-4 w-full bg-white shadow-lg">
    <!-- 投稿コンテンツ -->
    <div class="px-6">
      <!-- 投稿者名の部分 -->
      <div class="bg-background-blue text-logo-brown font-bold text-xl text-center py-2">
        <%= post.user.name %>
      </div>

      <!-- 画像部分 -->
      <div class="mt-0">
        <% if post.image.attached? %>
        <%= link_to post_path(post) do %>
        <%= image_tag post.image, class: "rounded-lg shadow-lg w-full" %>
        <% end %>
        <% else %>
        <!-- 画像が添付されていない場合の処理 -->
        <%= image_tag 'walk_top.jpg', alt: 'デフォルト画像', class: "rounded-lg shadow-lg w-full" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>