<h1 class="text-center text-2xl font-bold">投稿一覧</h1>
<div class="space-y-4 mt-4">
  <% @posts.each do |post| %>
  <div class="border-b border-gray-300 p-4">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <p class="font-semibold text-lg"><%= post.user.name %></p>
      </div>
    </div>
    <div class="mt-2">
      <% if post.image.attached? %>
      <%= image_tag post.image, alt: "投稿画像" %>
      <% else %>
      <p>画像がありません</p>
      <% end %>
    </div>
    <div class="mt-2">
      <%= link_to '詳細を見る', post_path(post), class: 'text-blue-500' %>
    </div>
  </div>
  <% end %>
</div>