<% content_for :title, t('devise.mailer.password_change.header') %>
<p><%= t('devise.mailer.password_change.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.password_change.password_changed') %></p>